<div slot="main">
    {% for item in items %}
        <hn-news-card
            number="{{forloop.index}}"
            author="{{item.by}}"
            comments="{{item.kids.length}}"
            points="{{item.score}}"
            href="{{item.url}}"
        >
            <span>{{item.title}}</span>
        </hn-news-card>
    {% endfor %}    
</div>